@import "../../styles/variables/variables";
@import "../../styles/variables/breakpoints";

.chooseFileContainer {
  position: absolute;
  top: 50%;
  width: 100%;
  translate: -1% -50%;
  display: flex;
  justify-content: center;
  gap: 2%;

  @media (max-width: $breakpoint700) {
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    gap: 20px;
    margin: 0 auto;
  }
}

.option {

  &Container {
    border-radius: $border-radius-main;

    &Spacing {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 152px;
      width: 100%;
    }

    &Description {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &Select {
      flex: 0;
      width: 100%;
      max-width: 250px;
      border-radius: $border-radius-main;

      @media (max-width: $breakpoint700) {
        width: 200px;
      }
    }

    &P {
      margin-bottom: 14px;
      font-size: 0.875rem;
      font-weight: 400;
      color: #525252;
    }

    & button {
      display: flex;
      gap: 10px;
      border-radius: $border-radius-main;

      @media (max-width: $breakpoint700) {
        align-self: flex-end;
      }
    }

    @media (max-width: $breakpoint700) {
      width: 90%;
      max-width: 500px;
    }
  }

  &ButtonContainer {
    display: flex;
    justify-content: space-between;
    gap: 5px;

    @media (max-width: $breakpoint700) {
      gap: 25px;
      align-self: flex-end;
    }
  }
}

.tile {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: $border-radius-main;
}

.saveFile {
  padding-bottom: 16px;
}