@import "../../styles/variables/variables";
@import "../../styles/variables/breakpoints";

.chooseFileContainer {
  position: absolute;
  top: 50%;
  width: 100%;
  translate: 0 -50%;

  display: flex;
  justify-content: center;
  gap: 2%;

  @media (max-width: $breakpoint900) {
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    gap: 20px;
    margin: 0 auto;
  }

  &Sub {
    display: flex;
    gap: 2%;
    justify-content: stretch;

    & > :not(:first-child) {
      flex: 1;
    }

    @media (max-width: $breakpoint600) {
      flex-direction: column;
      gap: 20px;

      & > :first-child {
        order: 3;
        align-self: flex-end;
      }

    }
  }
}

//Styling for FileUploader Carbon component
.fileUploader {

  & > button {
    margin-top: 5%;
    border-radius: $border-radius-main;
    align-self: flex-end;
  }
}

//Pushing the button, to aline it with neighbour
@media (min-width: $breakpoint500) {
  .toDB > button {
    margin-top: 26px;
  }
}

//---------------------------------------------

////Styling for components for download
.option {
  &Container {
    &SpacingSelectSave {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;

      @media (max-width: $breakpoint600) {
        & > button {
          align-self: flex-end;
        }
      }
    }

    &SelectSave {
      flex: 0;
      width: 100%;
      max-width: 250px;
      border-radius: $border-radius-main;
    }
  }

  &ButtonContainerSelectSave {
    display: flex;
    justify-content: space-between;
    gap: 5px;

    @media (max-width: $breakpoint600) {
      gap: 25px;
      align-self: flex-end;
    }
  }
}


.option {

  &Container {

    &Spacing {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 152px;
      width: 100%;
    }

    &Description {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &Select {
      flex: 0;
      width: 100%;
      max-width: 250px;
      border-radius: $border-radius-main;

      @media (max-width: $breakpoint900) {
        width: 200px;
      }
    }

    &P {
      margin-bottom: 14px;
      font-size: 0.875rem;
      font-weight: 400;
      color: #525252;
    }

    & button {
      display: flex;
      gap: 10px;
      border-radius: $border-radius-main;

      @media (max-width: $breakpoint900) {
        align-self: flex-end;
      }
    }

    @media (max-width: $breakpoint900) {
      width: 90%;
      max-width: 500px;
    }
  }

  &ButtonContainer {
    display: flex;
    justify-content: space-between;
    gap: 5px;

    @media (max-width: $breakpoint900) {
      gap: 25px;
      align-self: flex-end;
    }
  }
}

.button {
  border-radius: $border-radius-main;
}

.tile {
  background-color: $colour-tile;
  border: 1px solid transparent;
  border-radius: $border-radius-main;
}

.saveFile {
  padding-bottom: 16px;
}