.container {
  min-height: fit-content;
}

.container0 {
  display: flex;
  flex-direction: column;
  gap: 15%;

  & h4 {
    padding-bottom: 0 !important;
  }
}

.worlds--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subContainer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

