.grid {
  --_min: 290px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--_min), 1fr));
  gap: 1%;
  width: 100%;
  margin: 5% auto;

  @media (min-width: 903px) {
    --_min: 350px;
    width: 80%;
  }
}

.findUser {
  margin: 0 auto;

  cursor: pointer;
}

