.grid {
  //display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 1%;

}

.findUser {
  margin: 0% auto;

  cursor: pointer;
}

