.grid {
  --_min: 160px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--_min), 1fr));
  gap: 8px;

  margin: 5% auto;
  width: 100%;

  & h4 {
    padding-bottom: 2%;
  }

  @media (min-width: 515px) {
    --_min: 200px;
  }

  @media (min-width: 600px) {
    --_min: 255px;
    width: 90%;
    gap: 16px;
  }

  @media (min-width: 900px) {
    --_min: 300px;

    width: 80%;
  }
}

.findUser {
  margin: 0 auto;

  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 600px) {
    flex-direction: column;

    margin-bottom: 8px;
  }
}

.worldsContainer {

  & > :last-child {
    padding-top: 2%;
  }
}

