$breakpoint380: 380px;
$breakpoint500: 500px;
$breakpoint515: 515px;
$breakpoint550: 550px;
$breakpoint600: 600px;
$breakpoint700: 700px;
$breakpoint800: 800px;
$breakpoint900: 900px;
$breakpoint1150: 1150px;