$border-radius-main: 10px;

$box-shadow:
        rgba(102, 85, 234, 0.26) 0 6px 27px -5px,
        rgba(0, 0, 0, 0.3) 0 8px 8px -8px;

$box-shadow-hover: rgba(99, 99, 99, 0.2) 0 2px 8px 0;

$colour-body-image: #e9ebed;
$colour-tile: #fff;
$color-button-body: #0f62fe;

$actionsMenuHigh: 0;
$actionsMenuLow: 55px;
$actionsMenuLowest: 65px;

$grid170: 170px;
$grid200: 200px;
$grid255: 255px;
$grid280: 280px;

$gridBreakpoint170: repeat(auto-fit, minmax($grid170, 1fr));
$gridBreakpoint515: repeat(auto-fit, minmax($grid200, 1fr));
$gridBreakpoint600: repeat(auto-fit, minmax($grid255, 1fr));
$gridBreakpoint900: repeat(auto-fit, minmax($grid280, 1fr));