$border-radius-main: 10px;

$box-shadow:
        rgba(102, 85, 234, 0.26) 0 6px 27px -5px,
        rgba(0, 0, 0, 0.3) 0 8px 8px -8px;

$box-shadow-hover: rgba(99, 99, 99, 0.2) 0 2px 8px 0;

$colour-body: #e9ebed;
$colour-tile: #fff;