@import "../../styles/variables/variables";

.sectionContainer {
  padding: 10px;
}

.optionContainer {
position: relative;
}

.menuContainer {
  --_position: 0;

  position: absolute;
  top: var(--_position);
  right: var(--_position);

  z-index: 10;

  & > * > button {
    font-size: 0;
  }
}

.menu {

  & button {
    border-radius: $border-radius-main;
  }
}

.menuItem {
  border-radius:$border-radius-main;
}

.outputsContainer {
  display: flex;
  gap: 16px;

  @media (min-width: 600px) {
    gap: 24px;
  }
}

.outputContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}