@import "../../styles/variables/variables";
@import "../../styles/variables/breakpoints";

.sectionContainer {
  @media (min-width: $breakpointXM) {
    padding: 10px;
  }
}

.optionContainer {
position: relative; //for the actions menu
}

.outputsContainer {
  display: flex;
  gap: 4px;

  @media (min-width: $breakpointXM) {
    gap: 24px;
  }
}

.outputContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}