@import "../../styles/variables/breakpoints";

.searchContainer {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 100%;
  min-height: 50px;
}

.search {
  border: 0;
  outline: 0;
  background-color: transparent;
  border-bottom: transparent;
  font-size: 1rem;

  &:focus {
    border-bottom: 1px solid black;
  }

  @media (max-width: $breakpoint600) {
    width: 95%;
  }
}

.searchIcon {
  --_size: 20px;

  width: var(--_size);
  height: var(--_size);
  transition: all 0.5s ease-in-out;
}

.deleteIcon {
  padding-inline: 5px;
  rotate: 180deg;
}
