@import "../../styles/variables/variables";

.tile {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: $border-radius-main;
}

.delete {

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;


  &ItemContainer {
    display: flex;
    transition: width 1s ease-in-out;
  }

  &List {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem 0 2rem;
    overflow: auto;
    max-height: 500px;
  }

  &IconContainer {
    display: flex;
    gap: 20px;
  }

  &FileName {
    color: red;
  }

  &Button {
    border-radius: $border-radius-main;
  }

  &Empty {
    display: flex;
    justify-content: center;
  }
}

.transition {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  gap: 20px;
}