@use '@carbon/react';

@import "variables/variables";

html {
  // to avoid layout shift when opening modal when height is greater than display
  scrollbar-gutter: stable both-edges;
}

body {
  background-color: $colour-body-image;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
}

.shadow {
  background-color: $colour-tile;
  border-radius: $border-radius-main;

  box-shadow: $box-shadow;

  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: $box-shadow-hover;
  }
}

.glass {
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(216, 200, 216, 0.8);
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: $border-radius-main;

  box-shadow: $box-shadow;

  transition:
          box-shadow 0.3s,
          background-color 0.3s;

  &:hover {
    box-shadow: $box-shadow-hover;
  }
}

.visually-hidden {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#completely-hidden {
  display: none;
}